{:paths   ["src"]
 :deps    {org.clojure/clojure                                                 {:mvn/version "1.11.3"}
           ch.qos.logback/logback-classic                                      {:mvn/version "1.5.6"}
           io.opentelemetry.instrumentation/opentelemetry-logback-appender-1.0 {:mvn/version "2.6.0-alpha"}
           org.slf4j/jcl-over-slf4j                                            {:mvn/version "2.0.13"}
           org.slf4j/jul-to-slf4j                                              {:mvn/version "2.0.13"}
           org.slf4j/log4j-over-slf4j                                          {:mvn/version "2.0.13"}
           org.slf4j/osgi-over-slf4j                                           {:mvn/version "2.0.13"}
           org.slf4j/slf4j-api                                                 {:mvn/version "2.0.13"}
           ring/ring-jetty-adapter                                             {:mvn/version "1.12.2"}}
 :aliases {:dev     {:extra-paths ["dev"]
                     :extra-deps  {clj-http/clj-http {:mvn/version "3.13.0"}
                                   cheshire/cheshire {:mvn/version "5.13.0"}}}
           :upgrade {:paths      ["infra"]
                     :deps       {clj-http/clj-http        {:mvn/version "3.13.0"}
                                  cheshire/cheshire        {:mvn/version "5.13.0"}
                                  net.modulolotus/truegrit {:mvn/version "2.2.32"}}
                     :ns-default docker-file-upgrade}
           :build   {:paths      ["infra"]
                     :deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                     :ns-default build}}}
