{:paths   ["src"]
 :deps    {org.clojure/clojure                                                 {:mvn/version "1.11.4"}
           ch.qos.logback/logback-classic                                      {:mvn/version "1.5.6"}
           com.github.seancorfield/ring-data-json                              {:mvn/version "0.5.2"}
           io.opentelemetry.instrumentation/opentelemetry-logback-appender-1.0 {:mvn/version "2.6.0-alpha"}
           org.slf4j/jcl-over-slf4j                                            {:mvn/version "2.0.16"}
           org.slf4j/jul-to-slf4j                                              {:mvn/version "2.0.16"}
           org.slf4j/log4j-over-slf4j                                          {:mvn/version "2.0.16"}
           org.slf4j/osgi-over-slf4j                                           {:mvn/version "2.0.16"}
           org.slf4j/slf4j-api                                                 {:mvn/version "2.0.16"}
           metosin/reitit-core                                                 {:mvn/version "0.7.1"}
           metosin/reitit-ring                                                 {:mvn/version "0.7.1"}
           ring/ring-jetty-adapter                                             {:mvn/version "1.12.2"}}
 :aliases {:dev     {:extra-paths ["dev"]
                     :extra-deps  {metosin/reitit-dev {:mvn/version "0.7.1"}}}
           :test    {:extra-paths ["test"]
                     :extra-deps  {cheshire/cheshire   {:mvn/version "5.13.0"}
                                   clj-http/clj-http   {:mvn/version "3.13.0"}
                                   lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                     :exec-fn     kaocha.runner/exec-fn
                     :exec-args   {}}
           :upgrade {:paths      ["infra"]
                     :deps       {cheshire/cheshire        {:mvn/version "5.13.0"}
                                  clj-http/clj-http        {:mvn/version "3.13.0"}
                                  net.modulolotus/truegrit {:mvn/version "2.2.32"}}
                     :ns-default docker-file-upgrade}
           :linters {:extra-deps {jonase/eastwood              {:mvn/version "1.4.3"}
                                  io.github.noahtheduke/splint {:mvn/version "1.16.0"}}}
           :build   {:paths      ["infra"]
                     :deps       {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                     :ns-default build}}}
