# flyctl launch added from .gitignore
**/.cpcache
**/.idea
**/target
**/restaurant.iml
**/.nrepl-port
**/artifacts

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
fly.toml
